/* .Hero{
  background-image: linear-gradient(#420c63a8,#380458a6), url('./assets/herobg.jpeg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height:75vh;
}
.donate{
  background:#efbc2f;
}
.navbar{
  background-image:#33094da8 !important;

} */
.donation{
  background-color:#3c025f;
}
@media (max-width:760px){
.donate .w-50{
   width:unset !important;
  }
.donate .w-sm-75{
    width:75% !important;
  }
}