.donation{
  background-color:#3c025f;
}
a{
  text-decoration:none;
  color:unset;
}
.card-container{
  background-color: #2e0049;
}
.activeLink{
  color:#efbc2f !important;
  font-weight:bold;
}
.activeLink:after {
  background-color: #efbc2f;
  content: "";
  display: block;
  height: 6px;
  position: relative;
  width: 420%;
  margin-left:-180%;
  margin-right:-200%
}
/* nav:after{
  background-color: red;
  content: "";
  display: block;
  height: 6px;
  position: relative;
  width: 100%;
} */


@media (max-width:760px){
.donate .w-50{
   width:unset !important;
  }
.donate .w-sm-75{
    width:75% !important;
  }
}