.donation{
  background-color:#3c025f;
}
.activeLink:link{
  color:#efbc2f;
}
a{

  text-decoration-color:none;
}
@media (max-width:760px){
.donate .w-50{
   width:unset !important;
  }
.donate .w-sm-75{
    width:75% !important;
  }
}